@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css");
html {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./../img/arnaud-mesureur.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../img/arnaud-mesureur.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #1968b1;
  height: 100vh;
  max-height: 36.11111rem;
  color: #fff;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.38889rem 0rem 3.88889rem 0rem;
}

.hero__title-section {
  width: 46%;
}

@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__main-title {
  font-weight: bold;
  font-size: 2.66667rem;
  line-height: 1.1;
  margin: 0rem 0rem 1rem 0rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.16667rem;
  margin: 0rem 0rem 2.22222rem 0rem;
}

@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}

@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0rem 1.66667rem;
  padding: 0.27778rem 0rem 0rem 0rem;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin: 0rem 1.22222rem 0.55556rem 0rem;
}

.menu__item:last-child {
  margin: 0rem 0rem 0rem 0rem;
}

.menu__link {
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.22222rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-phone {
  fill: #fff;
  width: 0.72222rem;
  height: 0.77778rem;
  margin: 0rem 0.33333rem 0rem 0rem;
}

.phone-number__text {
  white-space: nowrap;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 1.88889rem 0rem 0rem;
}

.features__item:last-child {
  margin: 0rem 0rem 0rem 0rem;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  fill: #fff;
  width: 1.94444rem;
  height: 1.94444rem;
  margin: 0rem 0.77778rem 0rem 0rem;
}

.feature__text {
  font-weight: bold;
  font-size: 0.88889rem;
  max-width: 5rem;
}

.btn {
  font-weight: 800;
  font-size: 0.88889rem;
  padding: 1.11111rem 2.22222rem 1.11111rem 2.22222rem;
  text-transform: uppercase;
  border-radius: 5.55556rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.btn--theme--yellow {
  background: #fedb3f;
  color: #000;
}

.btn--theme--yellow:hover {
  color: #fff;
  background: #1968b1;
}

.btn--theme--bg {
  background: #fedb3f;
  color: #000;
}

.btn--theme--bg:hover {
  color: #fff;
  background: #313131;
}

.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-weight: normal;
  font-size: 1rem;
}

.btn--theme--transparent:hover {
  color: #000;
  background: #313131;
}

.section {
  min-height: 36.11111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-weight: bold;
  font-size: 2.66667rem;
  margin: 0rem 0rem 3.33333rem 0rem;
  text-align: center;
  color: #292929;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .section__title {
    margin: 3.05556rem 0rem 3.33333rem 0rem;
  }
}

.headline {
  text-align: center;
}

.headline__title {
  margin: 0rem 0rem 1rem 0rem;
}

@media screen and (max-width: 480px) {
  .headline__title {
    margin: 2.77778rem 0rem 1rem 0rem;
  }
}

.headline__subtitle {
  padding: 0 27%;
  margin: 0rem 0rem 2.77778rem 0rem;
}

@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}

@media screen and (max-width: 480px) {
  .benefits__items {
    padding: 0;
    margin-bottom: 1.05556rem;
  }
}

.benefits__items::before {
  content: url("./../img/decor/shape.png");
  position: absolute;
  top: 1.66667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media screen and (max-width: 480px) {
  .benefits__items::before {
    display: none;
  }
}

.benefits__items:first-child {
  padding-left: 0;
}

.benefits__items:last-child {
  padding-right: 0;
}

.benefits__items:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.11111rem;
  height: 7.11111rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 3.77778rem;
  height: 3.77778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #292929;
}

.rewiews__display {
  background: #f8faf9;
  padding: 2.33333rem 2.33333rem 2.33333rem 2.33333rem;
}

.reviews__list {
  position: relative;
  min-height: 280px;
}

.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.rewiews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .rewiews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.rewiews__avatar {
  width: 14.11111rem;
  height: 14.66667rem;
}

@media screen and (max-width: 768px) {
  .rewiews__avatar {
    width: 7.22222rem;
    height: 7.33333rem;
  }
}

.rewiews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.rewiews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0rem 0rem 0rem 2.22222rem;
}

@media screen and (max-width: 768px) {
  .rewiews__content {
    margin: 0rem 0rem 0rem 0rem;
  }
}

.rewiews__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0rem 0rem 0.83333rem 0rem;
  color: #292929;
}

.rewiews__text {
  margin: 0rem 0rem 1.38889rem 0rem;
}

.rewiews__author {
  font-weight: 500;
  font-size: 1rem;
  color: #292929;
}

.rewiews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.83333rem 0rem 0.83333rem 0rem;
}

.interactive-avatar {
  width: 4.44444rem;
  height: 4.44444rem;
  border: 0.33333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar--active {
  border-color: #fedb3f;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background-image: url("./../img/bg-form.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #313131;
  color: #fff;
}

.title {
  color: #fff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}

@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0rem 1.11111rem 0rem 0rem;
}

.form__col:last-child {
  margin: 0rem 0rem 0rem 0rem;
}

@media screen and (max-width: 768px) {
  .form__col {
    margin: 0rem 0rem 0rem 0rem;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0rem 1rem 0rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0rem 1.11111rem 0rem 0rem;
}

.form__block:last-child {
  margin: 0rem 0rem 0rem 0rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.66667rem;
  border: 0.16667rem solid transparent;
  border-radius: 0.22222rem;
}

.form__input--textarea {
  height: 8.44444rem;
  resize: none;
}

.form__input:focus {
  border-color: #fedb3f;
  outline: none;
  border-radius: 0.22222rem;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  padding: 2.55556rem 0rem 0rem 0rem;
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0rem 0.55556rem 1.11111rem 0rem;
}

.radio:last-child {
  padding: 0rem 0rem 0rem 0rem;
}

.radio--checkbox .radio__visible {
  border-radius: 0;
}

.radio--checkbox .radio__visible:before {
  background: url("../../img/icon/mark.svg") no-repeat center;
  border-radius: 0;
}

.radio__elem {
  display: none;
}

.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.38889rem;
  height: 1.38889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}

.radio__visible:before {
  content: "";
  width: 0.72222rem;
  height: 0.72222rem;
  background: #fedb3f;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  padding: 0rem 0rem 0rem 0.55556rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin: 0rem 0rem 0.27778rem 0rem;
}

.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.88889rem;
  height: 0.88889rem;
  border-radius: 50%;
  border: 0.05556rem solid transparent;
  display: block;
  position: relative;
}

.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.33333rem;
  height: 0.33333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 24px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.footer {
  min-height: 5rem;
  padding: 1rem 0rem 1rem 0rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts {
  font-style: normal;
  font-size: 1.11111rem;
  color: #292929;
}

@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 0.55556rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__place {
  font-style: normal;
  font-weight: normal;
  font-size: 1.16667rem;
  color: #292929;
}

.phone-number__icon-footer {
  fill: #000;
  width: 0.72222rem;
  height: 0.77778rem;
  margin: 0rem 0.33333rem 0rem 0rem;
}

.phone-number__text-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 1.16667rem;
  color: #292929;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin-right: 0.77778rem;
}

.socials__link {
  max-width: 1.38889rem;
  max-height: 1.38889rem;
}

.socials__link-icon {
  fill: #b3b3b3;
  width: 1.38889rem;
  height: 1.38889rem;
}

.socials__link-icon:hover {
  fill: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team__list {
  margin: 2.94444rem 0rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.team__item {
  margin: 0rem 1.11111rem 0rem 0rem;
}

.team__item:last-child {
  margin: 0rem 0rem 0rem 0rem;
}

.member__photo {
  margin: 0rem 0rem 1.11111rem 0rem;
}

.member__photo-logo {
  width: 12.22222rem;
  height: 16.11111rem;
}

.member__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0rem 0rem 0.44444rem 0rem;
  font-size: 1.16667rem;
  font-weight: bold;
  color: #292929;
}

.member__name-triangle {
  margin: 0rem 0rem 0rem 0.22222rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.member__name-triangle_rotated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.member__description {
  text-align: center;
  max-width: 12.27778rem;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.member__description_visible {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.products-section {
  background: #f8faf9;
}

.products__item {
  width: 950px;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.option__button {
  width: 90px;
  height: 90px;
  background: #3a587e;
  border-radius: 4px;
}

.option__button-icon {
  padding: 16px 26px 6px 26px;
}

.option__text {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.product__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #292929;
  margin: 52px 0px 24px 0px;
}

.product__description {
  max-width: 368px;
  margin: 0px 0px 24px 0px;
}

.product__description--text {
  margin: 0px 0px 24px 0px;
}

.product__description--properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__description--properties-left {
  margin: 0px 55px 0px 0px;
}

.product__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__price {
  font-weight: 300;
  font-size: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #151515;
  margin: 0px 28px 0px 0px;
}

.products-slider {
  position: relative;
}

.products-slider .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0px;
}

.products-slider__arrow {
  background: url("./../img/icon/arrow.svg");
  display: block;
  width: 0.72222rem;
  height: 1.55556rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.products-slider__arrow--left {
  left: 0;
}

.products-slider__arrow--right {
  right: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.player-section {
  background: #f8faf9;
}

.video {
  height: 100vh;
  width: 100%;
  margin-top: -20px;
}

.video__title {
  padding-top: 30px;
  text-align: center;
}

.video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video__player {
  position: relative;
  max-width: 660px;
  max-height: 392px;
}

.video__player-img {
  position: absolute;
  left: 307px;
  top: 149px;
  cursor: pointer;
}

.video__player-img--active {
  opacity: 0;
}

#player {
  min-width: 660px;
  max-width: 660px;
  min-height: 370px;
}

.video__toolbar {
  width: 660px;
  height: 35px;
  background-color: #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.duration__img {
  padding: 5px 20px;
  cursor: pointer;
}

.duration__length {
  width: 444px;
  height: 4px;
  border-radius: 1px;
  background-color: #626262;
  -webkit-appearance: none;
  /*Override default CSS styles*/
  -moz-appearance: none;
       appearance: none;
  outline: none;
}

.duration__length--other {
  width: 58px;
  height: 4px;
}

.duration__length::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  background: #626262;
  cursor: pointer;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.duration__circle {
  cursor: pointer;
  margin-top: -4px;
  display: block;
}

.duration__circle--high {
  right: 0;
  position: absolute;
}

.sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
}

.sound__mic {
  cursor: pointer;
}

.sound__volume {
  margin-left: 30px;
  margin-top: -5px;
}

.products-menu-section {
  background: url("./../img/menu/first.png") center center/cover no-repeat;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 652px;
}

.menu__title {
  position: absolute;
  color: #fff;
  top: 110px;
  left: 85px;
  margin: 0px 0px 0px 0px;
}

.menu-acco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.menu-acco__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  height: 100%;
}

.menu-acco__trigger {
  background-color: grey;
  position: relative;
  width: 102px;
}

.menu-acco__trigger-second {
  background: url("./../img/menu/second.png") center center/cover no-repeat;
}

.menu-acco__trigger-third {
  background: url("./../img/menu/third.png") center center/cover no-repeat;
}

.menu-acco__trigger-fourth {
  background: url("./../img/menu/fourth.png") center center/cover no-repeat;
}

.menu-acco__trigger-text {
  font-weight: bold;
  font-size: 48px;
  position: absolute;
  left: 50%;
  bottom: 130px;
  -webkit-transform: rotate(-90deg) translate(-50%, -50%);
          transform: rotate(-90deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  white-space: nowrap;
}

.menu-acco__content {
  width: 0;
  padding: 0px;
  opacity: 1;
  overflow: hidden;
}

.menu-acco__line_active > .menu-acco__content {
  width: 524px;
  height: 652px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  z-index: 10;
  background: rgba(47, 50, 52, 0.9);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.map {
  width: 100%;
  height: 652px;
}

[class*="copyrights-pane"] {
  display: none !important;
}
