$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$blue: #1968b1;
$black: #292929;

//z-indexes
$z-fixed-menu: 100;

//adaptive
@import "_media";

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@import "_layout";

//slider
@import url("https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css");

//modal
@import url("https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css");

//components
@import "components/_hero";
@import "components/_header";
@import "components/_features";
@import "components/_feature";
@import "components/_btn";
@import "components/_section";
@import "components/_headline";
@import "components/_benefits";
@import "components/_benefit";
@import "components/_reviews";
@import "components/_interactive-avatar";
@import "components/_order-section";
@import "components/_form";
@import "components/_radio";
@import "components/_fixed-menu";
@import "components/_hamburger";
@import "components/_footer";
@import "components/_socials";
@import "components/_team";
@import "components/_member";
@import "components/_products";
@import "components/_products-slider";
@import "components/_player";
@import "components/_menu";
@import "components/_map";
@import "components/_modal";
