.btn {
    font-weight: 800;
    font-size: rem(16px);
    padding: rem(20px) rem(40px) rem(20px) rem(40px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    border: none;
    &--theme--yellow {
        background: #fedb3f;
        color: #000;
        &:hover {
            color: #fff;
            background: $blue;
        }
    }
    &--theme--bg {
        background: #fedb3f;
        color: #000;
        &:hover {
            color: #fff;
            background: #313131;
        }
    }
    &--theme--transparent {
        background: transparent;
        color: #fff;
        text-transform: none;
        font-weight: normal;
        font-size: rem(18px);
        &:hover {
            color: #000;
            background: #313131;
        }
    }
}
