.feature {
    display: flex;
}

.feature__icon {
    width: rem(35px);
    height: rem(35px);
    margin: rem(0px) rem(14px) rem(0px) rem(0px);
}

.feature__text {
    font-weight: bold;
    font-size: rem(16px);
    max-width: rem(90px);
}
