.features {
    display: flex;
}

.features__item {
    align-items: center;
    margin: rem(0px) rem(34px) rem(0px) rem(0px);
    &:last-child {
        margin: rem(0px) rem(0px) rem(0px) rem(0px);
    }
}
