.feature {
    display: flex;
}

.feature__icon {
    width: 35px;
    height: 35px;
    margin: 0px 14px 0px 0px;
}

.feature__text {
    font-weight: bold;
    font-size: 16px;
    max-width: 90px;
}
