.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 18%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin: rem(0px) rem(20px) rem(0px) rem(0px);

    &:last-child {
        margin: rem(0px) rem(0px) rem(0px) rem(0px);
    }

    @include tablets {
        margin: rem(0px) rem(0px) rem(0px) rem(0px);
    }
}

.form__row {
    display: flex;
    margin: rem(0px) rem(0px) rem(18px) rem(0px);
}

.form__block {
    flex: 1;
    margin: rem(0px) rem(20px) rem(0px) rem(0px);

    &:last-child {
        margin: rem(0px) rem(0px) rem(0px) rem(0px);
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(12px);
    border: rem(3px) solid transparent;
    border-radius: rem(4px);
    &--textarea {
        height: rem(152px);
        resize: none;
    }
    &:focus {
        border-color: #fedb3f;
        outline: none;
        border-radius: rem(4px);
    }

    &--error {
        border: rem(2px) solid rgb(243, 37, 37);
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    padding: rem(46px) rem(0px) rem(0px) rem(0px);

    @include tablets {
        display: flex;
        justify-content: center;
    }
}
