.headline {
    text-align: center;
}

.headline__title {
    margin: rem(0px) rem(0px) rem(18px) rem(0px);

    @include phones {
        margin: rem(50px) rem(0px) rem(18px) rem(0px);
    }
}

.headline__subtitle {
    padding: 0 27%;
    margin: rem(0px) rem(0px) rem(50px) rem(0px);

    @include phones {
        padding: 0;
    }
}
