.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin: 0px 22px 0px 0px;
    &:last-child {
        margin: 0px 0px 0px 0px;
    }
}

.menu__link {
    font-weight: bold;
    text-decoration: none;
}

.phone-number {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.phone-number__icon-phone {
    width: 13px;
    height: 14px;
    margin: 0px 6px 0px 0px;
}
