.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../img/arnaud-mesureur.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: $blue;
    height: 100vh;
    max-height: rem(650px);
    color: #fff;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(25px) rem(0px) rem(70px) rem(0px);
}

.hero__title-section {
    width: 46%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__main-title {
    font-weight: bold;
    font-size: rem(48px);
    line-height: 1.1;
    margin: rem(0px) rem(0px) rem(18px) rem(0px);
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: rem(21px);
    margin: rem(0px) rem(0px) rem(40px) rem(0px);

    @include tablets {
        padding: 0 25%;
    }

    @include phones {
        padding: 0 16%;
    }
}
