.products-menu-section {
    background: url("./../../img/menu/first.png") center center/cover no-repeat;
    color: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 652px;
}

.menu__title {
    position: absolute;
    color: #fff;
    top: 110px;
    left: 85px;
    margin: 0px 0px 0px 0px;
}

.menu-acco {
    display: flex;
    height: 100%;
}

.menu-acco__line {
    display: flex;
    cursor: pointer;
    height: 100%;
}

.menu-acco__trigger {
    background-color: grey;
    position: relative;
    width: 102px;

    &-second {
        background: url("./../../img/menu/second.png") center center/cover no-repeat;
    }

    &-third {
        background: url("./../../img/menu/third.png") center center/cover no-repeat;
    }

    &-fourth {
        background: url("./../../img/menu/fourth.png") center center/cover no-repeat;
    }
}

.menu-acco__trigger-text {
    font-weight: bold;
    font-size: 48px;
    position: absolute;
    left: 50%;
    bottom: 130px;
    transform: rotate(-90deg) translate(-50%, -50%);

    transform-origin: 0 0;
    white-space: nowrap;
}

.menu-acco__content {
    width: 0;
    padding: 0px;
    opacity: 1;
    overflow: hidden;
}

.menu-acco__line_active > .menu-acco__content {
    width: 524px;
    height: 652px;
    padding: 20px;
    box-sizing: border-box;
    opacity: 1;
    z-index: 10;
    background: rgba(47, 50, 52, 0.9);
}
