.order-section {
    background-image: url("./../img/bg-form.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: #313131;
    color: #fff;
}

.title {
    color: #fff;
}
