.products-section {
    background: #f8faf9;
}

.products__item {
    width: rem(950px);
}

.product__container {
    display: flex;
    align-items: center;
}

.product__col {
    flex: 1;
}

.option__button {
    width: rem(90px);
    height: rem(90px);
    background: #3a587e;
    border-radius: rem(4px);
}

.option__button-icon {
    padding: rem(16px) rem(26px) rem(6px) rem(26px);
}

.option__text {
    font-weight: bold;
    font-size: rem(14px);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.product__title {
    font-style: normal;
    font-weight: 700;
    font-size: rem(36px);
    text-transform: uppercase;
    color: $black;
    margin: rem(52px) rem(0px) rem(24px) rem(0px);
}

.product__description {
    max-width: rem(368px);
    margin: rem(0px) rem(0px) rem(24px) rem(0px);
}

.product__description--text {
    margin: rem(0px) rem(0px) rem(24px) rem(0px);
}

.product__description--properties {
    display: flex;
}

.product__description--properties-left {
    margin: rem(0px) rem(55px) rem(0px) rem(0px);
}

.product__value {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product__price {
    font-weight: 300;
    font-size: rem(60px);
    align-items: center;
    text-transform: uppercase;
    color: #151515;
    margin: rem(0px) rem(28px) rem(0px) rem(0px);
}
