.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    padding: rem(0px) rem(10px) rem(20px) rem(0px);
    &:last-child {
        padding: rem(0px) rem(0px) rem(0px) rem(0px);
    }
    &--checkbox {
        .radio__visible {
            border-radius: 0;

            &:before {
                background: url("../../img/icon/mark.svg");
                border-radius: 0;
            }
        }
    }
}

.radio__elem {
    display: none;
    &:checked ~ .radio__visible {
        &:before {
            display: block;
        }
    }
}

.radio__visible {
    width: rem(25px);
    height: rem(25px);
    position: relative;
    border-radius: 50%;
    background: #fff;

    &:before {
        content: "";
        width: rem(13px);
        height: rem(13px);
        background: #fedb3f;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.radio__title {
    padding: rem(0px) rem(0px) rem(0px) rem(10px);
}
