.rewiews__display {
    background: #f8faf9;
    padding: rem(42px) rem(42px) rem(42px) rem(42px);
}

.rewiews__display-inner {
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.rewiews__avatar {
    width: rem(254px);
    height: rem(264px);

    @include tablets {
        width: rem(130px);
        height: rem(132px);
    }
}

.rewiews__avatar-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.rewiews__content {
    flex: 1;
    margin: rem(0px) rem(0px) rem(0px) rem(40px);

    @include tablets {
        margin: rem(0px) rem(0px) rem(0px) rem(0px);
    }
}

.rewiews__title {
    font-weight: bold;
    font-size: rem(27px);
    margin: rem(0px) rem(0px) rem(15px) rem(0px);
    color: $black;
}

.rewiews__text {
    margin: rem(0px) rem(0px) rem(25px) rem(0px);
}

.rewiews__author {
    font-weight: 500;
    font-size: rem(18px);
    color: $black;
}
