.socials {
    display: flex;
}

.socials__item {
    margin-right: rem(14px);
}

.socials__link {
    max-width: rem(25px);
    max-height: rem(25px);
}

.socials__link-icon {
    fill: #b3b3b3;
    width: rem(25px);
    height: rem(25px);

    &:hover {
        fill: #000;
        transition: 0.3s;
    }
}
